h1 {
    font-family: "Helvetica Neue", "Open Sans", sans-serif;
    font-size: 350%;
}

body {
	font-family: "Helvetica Neue", "Open Sans", sans-serif;
}

#content {
    width: 700px;
    margin: 0 auto;
    background: floralwhite;
    -webkit-box-shadow: 3px 10px 20px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 10px 20px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 10px 20px -8px rgba(0, 0, 0, 0.75);
    padding: 40px;
}

#bodytext {

}

ul#messageform {
    list-style-type: none;
    padding: 0px;
}