h1 {
    font-family: "Helvetica Neue", "Open Sans", sans-serif;
    font-size: 350%;
}

body {
	font-family: "Helvetica Neue", "Open Sans", sans-serif;
}

#content {
    width: 700px;
    margin: 0 auto;
    background: floralwhite;
    -webkit-box-shadow: 3px 10px 20px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 10px 20px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 10px 20px -8px rgba(0, 0, 0, 0.75);
    padding: 40px;
}

#bodytext {

}

ul#messageform {
    list-style-type: none;
    padding: 0;
}

#formCountrySelect {
    width: 227px;
    height: 26px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

#formEmail {
    width: 224px;
    height: 20px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

#formName {
    width: 225px;
    height: 20px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

#formMessage {
    width: 695px;
    height: 205px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

#formSubmit {
    width: 700px;
    height: 50px;
    background-color: moccasin;
    font-size: 25px;
}